@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 768px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.main-nav {
  background-color: #fff;
  padding: 15px 6%;
}

.main-header {
  position: relative;
}

.main-logo {
  display: block;
  width: 138px;
  position: absolute;
  left: -69px;
  margin-left: 50%;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.main-nav-list li {
  width: 20%;
}

.main-nav-list li:nth-child(2) {
  margin-right: auto;
}

.main-nav-list li:nth-child(3),
.main-nav-list li:nth-child(4) {
  text-align: right
}

.main-nav-link {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.main-nav-link:focus:not(.main-nav-link-active),
.main-nav-link:hover:not(.main-nav-link-active),
.footer-visit-link:hover,
.footer-visit-link:focus {
  color: #81b3d2;
}

.main-nav-link:active:not(.main-nav-link-active),
.footer-visit-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav-link-active {
  color: #766357;
}

.main-header-background {
  height: 510px;
  overflow: hidden;
  position: relative;
  background-image: url(../img/Shape.svg);
}

.main-header-background::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 57px;
  background-image: url(../img-cart/Shape.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 0;
}

.main-img {
  width: 1200px;
  position: absolute;
  top: -80px;
  z-index: -1;
}

.main-img-logo {
  display: block;
  margin: 75px auto 0;
}

.main-content {
  padding: 60px 0 0;
  background-color: #fff;
}

.main-head {
  margin: 0 auto 35px;
  width: 576px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.main-descr {
  margin: 0 auto 50px;
  width: 576px;
}

.real-city,
.diablo-bridge {
  display: flex;
  flex-flow: row nowrap;
  min-height: 256px;
  overflow: hidden;
}

.real-city-text-block,
.diablo-bridge-text-block {
  width: 33.33%;
  background-color: #81b3d2;
  color: #fff;
  padding: 45px 35px 58px;
}

.real-city-img,
.diablo-bridge-img {
  width: 66.66%;
  position: relative;
}

.diablo-bridge-img {
  order: -1;
}

.real-city-img img,
.diablo-bridge-img img {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.real-city-text-block-head,
.diablo-bridge-text-block-head {
  margin: 0 0 20px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
}

.real-city-text-block-descr,
.diablo-bridge-text-block-descr {
  margin: 0 0 20px;
  line-height: 21px;
  text-align: center;
  position: relative;
}

.attractions {
  background-color: #eee;
}

.attractions-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.attraction-block {
  width: 33.33%;
  padding: 45px 4% 60px;
  box-sizing: border-box;
}

.attraction-head {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 25px;
  color: #000;
}

.attraction-descr {
  margin: 0;
  text-align: center;
}

.text-block-descr {
  margin: 0 0 20px;
  text-align: center;
}

.attractions-list-icons .attraction-head {
  margin: 100px 0 25px;
}

.attractions-list-icons .attraction-block {
  padding: 60px 4% 80px;
  position: relative;
}

.attractions-icons {
  background-color: #fff;
}

.attractions-list-icons .attraction-block::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center top;
  top: 60px;
  transform: translateX(-12%)
}

.attractions-list-icons .attraction-block:nth-child(1)::after {
  background-image: url(../img/icons/icon-1.svg);
}

.attractions-list-icons .attraction-block:nth-child(2)::after {
  background-image: url(../img/icons/icon-2.svg);
}

.attractions-list-icons .attraction-block:nth-child(3)::after {
  background-image: url(../img/icons/icon-3.svg);
}

.search-block {
  margin: 0;
  padding: 50px 6% 0;
}

.search-block-head {
  margin: 0 0 24px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.search-block-descr {
  margin: 0 auto 50px;
  line-height: 24px;
  width: 576px;
  text-align: center;
}

.search-form {
  margin: 0 auto;
  width: 576px;
  position: relative;
}

.search-form-head {
  margin: 0;
  text-align: center;
  display: block;
  padding: 30px 88px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  background-color: #766357;
  cursor: pointer;
}

.search-form-head:hover,
.search-form-head:focus {
  background-color: #604e43;
}

.search-form-head:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.form-input-blocks {
  position: absolute;
  background-color: #fff;
  box-sizing: border-box;
  padding: 55px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 700;
  color: #000;
  max-width: 100px;
  display: inline-block;
  margin-top: 5px;
  width: 115px;
}

.form-input {
  width: 365px;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  box-sizing: border-box;
  padding: 10px 45px 10px 15px;
}

.form-input::placeholder {
  color: #000;
}

.form-input:hover {
  background-color: #ebebeb;
}

.form-input:focus {
  background-color: #fff;
  outline: 2px solid #e5e5e5;
}

.form-input-block {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.form-date-input {
  position: absolute;
  right: 8px;
  top: 6px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.form-date-input svg {
  fill: #cacaca;
}

.form-date-input:hover svg,
.form-date-input:focus svg {
  fill: #000;
}

.form-date-input:active svg {
  fill: #81b3d2;
}

.amount-people {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.amount-people-block {
  display: flex;
  flex-flow: row nowrap;
  width: 230px;
  justify-content: flex-end;
}

.amount-people-block:nth-child(2) {
  width: 180px
}

.form-input-num {
  width: 43px;
  padding: 10px 0;
  text-align: center;
}

.form-input-num {
  -moz-appearance:textfield;
}

.form-input-num::-webkit-outer-spin-button,
.form-input-num::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.amount-people-button {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  position: relative;
}

.input-button-minus::after,
.input-button-plus::after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 13px;
  background-color: #a9a9a9;
  top: 18px;
  left: 12px
}

.input-button-plus::before {
  content: '';
  display: block;
  position: absolute;
  height: 13px;
  width: 3px;
  background-color: #a9a9a9;
  top: 13px;
  left: 17px;
}

.input-button-minus:hover::after,
.input-button-plus:hover::after,
.input-button-plus:hover::before,
.input-button-minus:focus::after,
.input-button-plus:focus::after,
.input-button-plus:focus::before {
  background-color: #000;
}

.input-button-minus:active::after,
.input-button-plus:active::after,
.input-button-plus:active::before {
  background-color: #81b3d2;
}

.amount-form-label {
  width: auto;
  margin-right: auto;
}

.submit-form-button {
  padding: 15px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #81b3d2;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
}

.submit-form-button:hover,
.submit-form-button:focus {
  background-color: #669ec0;
}

.submit-form-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  max-height: 595px;
}

.map-iframe {
  width: 100%;
  max-height: 595px;  
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 36px 0;
  box-sizing: border-box;
}

.footer-visit {
  padding-top: 10px;
}

.footer > div {
  width: 33.33%;
}

.footer-visit a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: inherit;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.footer-social-list li {
  margin-right: 6px;
}

.footer-social-list li:last-child {
  margin-right: 0;
}

.footer-social-list a {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  position: relative;
}

.footer-social-list svg {
  position: absolute;
}

.footer-social-tw svg {
  top: 15px;
  left: 14px;
}

.footer-social-fb svg {
  top: 12px;
  left: 16px;
}

.footer-social-youtube svg {
  top: 15px;
  left: 13px;
}

.footer-social-list a:hover,
.footer-social-list a:focus {
  background-color: #669ec0;
}

.footer-social-list a:active {
  background-color: #5496bd;
}

.footer-social-list a:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.htmlacademy-block {
  padding: 4px 90px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.footer-htmlacademy-link {
  color: #000;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 5px;
}

.htmlacademy-block span {
  margin-top: 10px;
  margin-right: 10px;
}

.footer-htmlacademy-link {
  width: 115px;
}

.footer-htmlacademy-link:hover svg,
.footer-htmlacademy-link:focus svg {
  fill: #81b3d2;
}

.footer-htmlacademy-link:active svg {
  fill: #bdbbbc;
}

/*hotels styles*/
.filter-block {
  background-color: #5496bd;
  background-image: url(../img/IMG_9190-form.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: 217px;
  color: #fff;
  padding: 30px 6%;
  box-sizing: border-box;
}

.filter-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.price-filter-block {
  margin-left: auto;
}

.inrfastructure-filter-block,
.housing-filter-block {
  width: 240px;
  display: flex;
  flex-flow: column;
}

.price-filter-block {
  width: 320px;
}

.inrfastructure-filter-block {
  margin-right: 15px;
}

.filter-head {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-label {
  margin-left: 40px;
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
}

.filter-label:last-of-type {
  margin-bottom: 0;
}

.filter-label::after,
.filter-label::before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  top: 0;
  left: -40px;
}

.filter-label::after {
  background-image: url(../img/icons/checkbox-on.svg);
  display: none;
}

.filter-label::before {
  background-image: url(../img/icons/checkbox-off.svg);
}

.inrfastructure-filter-block input:checked + .filter-label::after,
.housing-filter-block input:checked + .filter-label::after {
  display: block;
}

.inrfastructure-filter-block input:checked + .filter-label::before,
.housing-filter-block input:checked + .filter-label::before {
  display: none;
}

.inrfastructure-filter-block input:disabled + .filter-label::before,
.housing-filter-block input:disabled + .filter-label::before {
  display: block;
  background-image: url(../img/icons/checkbox-disabled.svg);
}

.inrfastructure-filter-block input:focus + label,
.housing-filter-block input:focus + label {
  outline: auto;
}

.price-output {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 2px solid #fff;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 7px 0;
  position: relative;
  margin-bottom: 20px;
}

.price-output::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-3px);
}

.price-output p {
  margin: 0;
  width: 50%;
  text-align: center;
}

.filter-price-slider {
  margin-bottom: 30px;
}

.form-submit {
  min-width: 137px;
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
}

.form-submit:hover,
.form-submit:focus,
.form-submit:active {
  background-color: #fff;
  color: #000;
}

.content {
  padding: 30px 0 0;
}

.sort-method {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0 6% 30px;
}

.sort-method-head {
  margin: 0;
  width: 136px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  margin-right: 30px;
}

.sort-method-par {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  margin-top: 7px;
  margin-right: 35px;
}

.sort-method-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2px;
}

.sort-method-link {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  margin-right: 30px;
}

.sort-method-list li:last-child .sort-method-link {
  margin-right: 0;
}

.sort-method-link:not(.sort-method-link-active):hover,
.sort-method-link:not(.sort-method-link-active):focus {
  color: #81b3d2;
}

.sort-method-link:not(.sort-method-link-active):active {
  color: #000;
  border: none;
}

.sort-method-link-active {
  border: none;
}

.sort-method-button-block {
  margin-left: auto;
}

.sort-method-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  padding: 5px;
}

.sort-method-button:last-child {
  margin-left: 5px;
}

.sort-method-button:not(.sort-active-button) svg {
  fill: #cacaca;
}

.sort-method-button:not(.sort-active-button):hover svg,
.sort-method-button:not(.sort-active-button):focus svg {
  fill: #000;
}

.sort-method-button:not(.sort-active-button):active svg {
  fill: #81b3d2;
}

.content-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.content-item-wrapper {
  margin: 0 6%;
  display: flex;
}

.hotel-img {
  width: 135px;
  height: 90px;
  overflow: hidden;
  margin-right: 30px;
}

.item-descr,
.item-descr-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}







.display-none {
  display: none;
}































